@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
  background-color: rgb(183, 231, 240);
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/*navbar*/

.navbar {
    display: flex;
    background-color: rgb(133, 208, 221);
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {

    flex-direction: row;
    justify-content: flex-start;

}

.logo-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(70, 89, 105);

}

.logo-link:hover {
    background-color: #ddd;
    color: rgb(38, 53, 66);
}



.header-links {
    display: flex;
    width: auto;


}

.header a:hover {
    background-color: #ddd;
    color: rgb(70, 89, 105);
}

.header-links a {

    text-decoration: none;
    color: rgb(70, 89, 105);

    padding-left: 20px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s
}

.header-links a:hover {
    background-color: #ddd;
    color: rgb(70, 89, 105);
    ;

}

.header-links a.active {
    background-color: rgb(107, 176, 189);
    color: white;
}



.btn {
    background-color: #fff;
    color: rgb(70, 89, 105);
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}


.nav-hamburger {
    display: none;
}
@media (max-width: 739px) {

.panel{
    display: none;
}
#cartagena-photo{
    display: block;
}





    .nav-hamburger {

        display: block;
        align-items: center;
        position: absolute;
        right: 5px;
        top: 20px;
        cursor: pointer;
        width: 50px;
        height: 40px;
        z-index: 100;

    }

    .fas.fa-bars.fa-2x {
        color: rgb(70, 89, 105);
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .header-links {
        display: block;

    }

    .header-link-a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        position: relative;

    }

    .logo {
        position: relative;
        display: block;
        align-items: flex-start;

    }

    #myLinks {
        display: none;
    }

}


@media (max-width: 425px) {

    .nav-hamburger {

        display: block;
        align-items: center;
        position: absolute;
        right: 5px;
        top: 20px;
        cursor: pointer;
        width: 50px;
        height: 40px;
        z-index: 100;



    }

    .fas.fa-bars.fa-2x {
        color: rgb(70, 89, 105);
    }

    .header-link-a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        position: relative;
        top: 30px;
        right: 10px;
    }

    #myLinks {
        display: none;
    }

    .logo {
        position: relative;
        top: 10px;
    }
}


/*pildid*/
.container {
    display: flex;
  
    width: 90vw;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    margin: 0;
    margin-left: 50px;
    opacity: 0;
}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5) {
        display: none;
    }
}

h3{
    color: rgb(225, 229, 231);;
}